body,html {
    margin: 0 5px;
    font-family: Verdana,sans-serif;
}
h1 {
    font-size: 1.4em;
    color: #ff0000;
}
a {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

/* Table */
th {
    text-align: left;
}
td, th {
    padding-right: 5px;
    font-size: 12px;
}

td {

}

/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;

}
form #submitbutton {
    margin-left: 100px;
}

.toptable {
    background-color: #cccccc;
    position: relative;
}

a:hover{
    color: #999999;
}
