body,html {
    margin: 0 5px;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    width:99%;
    background-image:url(../images/bg.gif);
    background-position:top left;
    background-repeat:repeat-x;
}
h1 {
    font-size: 1.4em;
    color: maroon;
    text-decoration: underline;
}
a {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

/* Table */
th {
    text-align: right;
}
td, th {
    padding-right: 5px;
    font-size: 12px;
}

/* style form */
form dt {
    width: 150px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;

}
form Submit {
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
}

.toptable {
    position: relative;
}

a:hover{
    color: #999999;    
    top: 2px;
    position: relative;
}

.userlogin{    
    color: #0099ff;
}

table
{
border-collapse:separate;
}
table,th, td
{
border: 0px solid black;
}

.header{
    text-align: left;
    background-color: chocolate;
    color: white;
    right: 1px;
}

.value{
    text-align: left;
    background-color: #9ECE2A;
    color: black;
}

.lastline{
    text-align: center;
    font-size: 10px;
    color: silver;
}
.userlogin{    
    color: #0099ff;
}

.topnav li
{
    list-style-type:none;
    display:block;
    float:left;
    line-height:40px;
    height:40px;
    padding:0 5px 16px 16px;
    background-image:url(../images/line.gif);
    background-position:top right;
    background-repeat:no-repeat;

}

.topnav li last{
background:#ff0000;
}

.topnav
{
    margin-top: 15px;
    margin-left: 0px;
    width: 940px;
}

.topnav a{
font-size:12px;
color:#272727;
text-decoration:none;
}

.topnav a:visited{text-decoration:none}

.topnav a:hover{text-decoration:underline}



.status
{
    float:right;
    color: #9ECE2A;
    font-size: 12px;
    margin-top: 5px;
}

.logo
{
    float: left;
    margin-left: 100px;
    margin-top: 25px;
    margin-right: 0px;
}

#navigation
{
    float: left;

}

.content{
    float: left;
    width: 100%;
    display: block;  
    background-image:url(../images/top.gif);
    background-position:top center;
    background-repeat: no-repeat;
    position: relative;
    top: 10px;
}

.leftsidebar
{
    float: left;
    position: relative;
    width: 15%;
    margin-left: 100px;
    top: 10px;
}

.leftsidebar td
{
    

}

.maincontent
{
    float: left;
    position: relative;
    border: 0px solid;
    width: 50%;
    padding: 12px;

}

.footer
{
   clear: both;
   position:relative;
   bottom:1px;
   width:100%;
   height:40px;
   text-align: center;
   font-size: 9px;
   padding: 20px 0;
    background-image:url(../images/footer_bg.gif);
    background-position:top center;
    background-repeat: no-repeat;
    color: darkgrey;
}




.grid
{
    background-color: #F8F8F8;
}

.gridheader
{
    background-color: #AAAAAA;

    border: 0px solid;
}

.pagingcontrol
{
    margin: 0 auto;
}

.slogan{
display:block;
position:absolute;
top:65px;
left:160px;
text-decoration: overline;
color: #cc6600;
}


