body,html {
    margin: 0 5px;
    font-family: Verdana,sans-serif;
}
h1 {
    font-size: 1.4em;
    color: maroon;
    text-decoration: underline;
}
a {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}

/* Table */
th {
    text-align: right;
}
td, th {
    padding-right: 5px;
    font-size: 12px;
}

/* style form */
form dt {
    width: 150px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;

}
form Submit {
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
}

.toptable {
    position: relative;
}

a:hover{
    color: #999999;    
    top: 2px;
    position: relative;
}

.userlogin{    
    color: #0099ff;
}

table
{
border-collapse:separate;
}
table,th, td
{
border: 0px solid black;
}

.header{
    text-align: left;
    background-color: chocolate;
    color: white;
    right: 1px;
}

.value{
    text-align: left;
    background-color: skyblue;
    color: black;
}

.lastline{
    text-align: center;
    font-size: 10px;
    color: silver;
}